.BoxLinks{
  &Item{
    & + & {
      margin-left: 30px;
    }
  }
  &ItemActive{
    border-bottom: 2px solid #000;
  }
}

.menuProfile{
  // background-color: #fff;
  font-weight: bold;
  &Box{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    flex-direction: row !important;
    &Left{
      &Company{
        font-weight: bold;

      }
    }
  }
  &Items{
    margin-top: 10px;
  }
  &ItemLink{
    display: flex;
    & svg{
      margin-right: 10px;
    }
    &Text{
      color: #000;
    }
  }
}