.tagButton {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 16px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  transition: all 200ms linear;
  &::before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
    align-items: center;
  }
  &:checked::before {
    color: #fff;
  }
  &.red:checked {
    background: #e8533f;
  }
  &.blue:checked {
    background: blue;
  }
  &.purple:checked {
    background: blueviolet;
  }
  &.orange:checked {
    background: orange;
  }
  &.green:checked {
    background: #47E10C;
  }
   &.black:checked {
    background: black;
  }
  &.gray:checked {
    background: gray;
  }
}
