.slick-slider {
  /* Your styles here */
}

.selected-image {
  border: 2px solid red;
  /* Your styles here */
}

.input{
  max-width: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 100%;
  overflow-x: scroll;
}

.slick-slide img {
  width: 100%;
  height: auto;
}