.card{
  &Title{
    margin-bottom: 0.35em !important;
  }
  &Involve{
    display: flex;
    align-items: end;
    &TitleRight{
      margin-left: 5px;
      &Icon{
        margin-right: 5px;
        & svg{
          vertical-align: bottom;
        }
      }
      display: flex;
      align-items: end;
    }
  }
}